// Color theme: Dredd 2012
$primary-color-rgb: rgb(133, 31, 28);
$secondary-color-rgb: rgb(204, 172, 90);
$light-color-rgb: rgb(178, 169, 151);
$light-color-contrast-rgb: rgb(45, 41, 32);
$dark-color-rgb: rgb(24, 22, 18);