// Color theme: Dredd 2012
$primary-color-rgb: rgb(133, 31, 28);
$secondary-color-rgb: rgb(204, 172, 90);
$light-color-rgb: rgb(178, 169, 151);
$medium-color-rgb: rgb(53, 48, 40);
$dark-color-rgb: rgb(45, 41, 32);
$darker-color-rgb: rgb(24, 22, 18);
$darkest-color-rgb: rgb(8, 4, 1);
