@use "_colors.scss" as colors;

%border-bottom-after {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid colors.$light-color-rgb;
    }
}