@use "_colors.scss" as colors;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: colors.$light-color-contrast-rgb;
    font-size: 16px;
}

#app {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, max-content)) repeat(12, 1fr);
    background: colors.$light-color-contrast-rgb;
}