@use "_colors.scss" as colors;

@font-face {
    font-family: "Liberation Mono";
    src: url("../assets/LiberationMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to left bottom, colors.$dark-color-rgb, colors.$darker-color-rgb);
    font-family: "Liberation Mono", monospace;
    font-size: 14px;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 10;
    grid-row: 1 / stretch;
    margin: 1em;
    background: colors.$dark-color-rgb;
    border: 1px solid colors.$medium-color-rgb;
    border-radius: 0.25em;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
}
