@use "_colors.scss" as colors;

.header {
    &__container {
        grid-column: 1 / auto-fill;
    }
}

.nav-menu {
    &__container {
        position: relative;
        display: block;
        background: colors.$light-contrast;
        padding: 0.5em;
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 0;
        list-style-type: none;
        grid-column: 1 / auto-fill;
    }

    &__item a {
        position: relative;
        display: inline-block;
        padding: 0.5em;
        color: colors.$light;
    }
}

.main-content {
    &__container {
        grid-column: 1 / auto-fill;
        position: relative;
        color: colors.$light;
        padding: 0.5em;
    }

    &__title {
        position: relative;
        display: block;
        padding: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
    }

    &__block {
        position: relative;
        display: block;
        padding: 0.5em;
        background: colors.$dark;
    }
}