@use "_colors.scss" as colors;

.nav-menu {
    &__container {
        position: relative;
        display: block;
        background: colors.$light-contrast;
        padding: 0.5em;
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    &__item a {
        position: relative;
        display: inline-block;
        padding: 0.5em;
        color: colors.$light;
    }
}

.main-content {
    &__container {
        position: relative;
        display: grid;
        grid-template-rows: minmax(1fr, auto);
        grid-template-columns: repeat(12, 1fr);
        background: colors.$light-contrast;
        color: colors.$light;
        padding: 0.5em;
    }

    &__title {
        position: relative;
        display: block;
        padding: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
    }

    &__block {
        position: relative;
        display: block;
        padding: 0.5em;
        background: colors.$dark;
    }
}